__pycache__/
runs/
.ipynb_checkpoints
.mypy_cache/
.idea/
.ruff_cache/
.pytest_cache/
docs/build/
docs/source/examples/
docs/source/tutorials/
eggs/
*.egg*
lightning_logs/
.idea/
build/
notebooks/.ipynb_checkpoints/
output/

*.png

*.pdf

*.h5ad

*.jpg

scvi_demo.py

notebooks/prototypes/
