__pycache__/
runs/
.ipynb_checkpoints
.mypy_cache/
.idea/
.ruff_cache/
.pytest_cache/
.vscode/
docs/build/
docs/source/examples/
docs/source/tutorials/
eggs/
*.egg*
lightning_logs/
.idea/
build/
notebooks/.ipynb_checkpoints/
output/
*.h5ad
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.ckpt
examples/cli_workflow/scvi_big_run/cellarium_scvi_glycosylation_20250116_train_config.yaml

examples/cli_workflow/scvi_big_run/cellarium_scvi_glycosylation_20250204_scvi_train_config_20250204.yaml
